.container {
  max-width: 1140px;
  margin: 0 auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: "Open Sans", "Segoe UI", Helvetica, Arial, sans-serif; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff; }

ul {
  list-style: none; }

#section-main {
  position: relative;
  background: url(../img/bg.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/bg.jpg);
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 20px; }
  @media screen and (max-width: 768px) {
    #section-main {
      padding-top: 0; } }

.menu {
  position: sticky;
  top: 0;
  z-index: 5; }

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backface-visibility: hidden;
  z-index: 5; }
  @media screen and (max-width: 768px) {
    .navbar {
      display: block;
      width: 100%;
      background: #6747c7;
      padding: 10px 0; } }
  .navbar-toggle {
    position: absolute;
    top: 8px;
    right: 20px;
    font-size: 24px;
    display: none;
    cursor: pointer; }
    @media screen and (max-width: 768px) {
      .navbar-toggle {
        display: block; } }
  .navbar-nav {
    display: flex;
    margin-left: auto; }
    @media screen and (max-width: 768px) {
      .navbar-nav {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 15px;
        position: absolute;
        background: #5033a8;
        top: 43px; } }
  .navbar .navbar-brand {
    max-width: 140px;
    display: block; }
    @media screen and (max-width: 768px) {
      .navbar .navbar-brand {
        margin-left: 10px;
        max-width: 115px; } }
  .navbar .nav-item {
    position: relative; }
    @media screen and (max-width: 768px) {
      .navbar .nav-item {
        width: 100%; } }
  .navbar .nav-item a {
    display: block;
    padding: 10px 0 10px 25px;
    color: #fff;
    text-decoration: none;
    transition: all .3s;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: 1px; }
    @media screen and (max-width: 1200px) {
      .navbar .nav-item a {
        font-size: 1.2rem; } }
    @media screen and (max-width: 768px) {
      .navbar .nav-item a {
        font-size: 16px;
        padding: 16px 20px;
        text-align: left; } }
    .navbar .nav-item a:hover {
      opacity: .6; }
    .navbar .nav-item a:active {
      color: #fff; }
  .navbar .on-sale:before {
    position: absolute;
    width: 100px;
    top: 0px;
    left: 26px;
    content: "on sale";
    text-transform: uppercase;
    color: #f0ea3e;
    font-weight: 600; }
    @media screen and (max-width: 992px) {
      .navbar .on-sale:before {
        left: 50px; } }
    @media screen and (max-width: 768px) {
      .navbar .on-sale:before {
        left: 170px;
        top: 22px; } }

@media screen and (max-width: 768px) {
  .hide {
    display: none; }
  .container {
    max-width: 100%; } }

.banner {
  display: flex;
  justify-content: space-between;
  padding: 150px 0; }
  @media screen and (max-width: 768px) {
    .banner {
      flex-direction: column;
      align-items: center;
      padding: 105px 0;
      padding-bottom: 50px; } }
  .banner .banner-popup {
    position: absolute;
    top: -44px;
    left: 38%;
    background: #fb9d9e;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    padding: 10px 29px;
    backface-visibility: hidden;
    animation: bounce 1s 1.5s backwards; }
    @media screen and (max-width: 992px) {
      .banner .banner-popup {
        top: -52px;
        left: 32%; } }
    .banner .banner-popup:after {
      content: "";
      position: absolute;
      top: 100%;
      border: solid transparent;
      height: 0;
      width: 0;
      border-top-color: #fb9d9e;
      border-width: 13px;
      left: 50%;
      transform: translateX(-50%);
      backface-visibility: hidden; }
  @media screen and (max-width: 768px) {
    .banner .banner-left {
      flex: 1 0 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center; } }
  @media screen and (max-width: 400px) {
    .banner .banner-left {
      width: 90%; } }
  .banner .banner-left__title {
    font-size: 4.2rem;
    font-weight: 700;
    margin-bottom: 20px; }
    @media screen and (max-width: 1200px) {
      .banner .banner-left__title {
        font-size: 3.9rem; } }
    @media screen and (max-width: 768px) {
      .banner .banner-left__title {
        font-size: 3.2rem;
        text-align: center;
        margin-bottom: 30px; } }
    .banner .banner-left__title span {
      color: #fb5259;
      text-transform: uppercase;
      animation: scaleUp .3s 1.5s; }
  .banner .banner-left__timer {
    max-width: 100%; }
  .banner .banner-right {
    position: relative;
    display: flex;
    font-size: 157px;
    font-weight: 700; }
    @media screen and (max-width: 1200px) {
      .banner .banner-right {
        font-size: 127px; } }
    @media screen and (max-width: 992px) {
      .banner .banner-right {
        font-size: 103px; } }
    @media screen and (max-width: 768px) {
      .banner .banner-right {
        flex: 1 0 0;
        font-size: 127px;
        order: -1;
        margin-bottom: 30px; } }
    @media screen and (max-width: 468px) {
      .banner .banner-right {
        font-size: 80px; } }
    .banner .banner-right__currency {
      font-size: 1em;
      margin-top: .2em; }
    .banner .banner-right__lgnum {
      font-size: 3em;
      line-height: .8em; }
    .banner .banner-right__col {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      @media screen and (max-width: 992px) {
        .banner .banner-right__col {
          justify-content: start; } }
      @media screen and (max-width: 768px) {
        .banner .banner-right__col {
          justify-content: space-around; } }
    .banner .banner-right__smnum {
      font-size: .8em; }
    .banner .banner-right__text {
      font-size: .5em;
      font-weight: 600; }

@keyframes popup {
  0% {
    transform: scale(0.1); }
  50% { } }

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  0% {
    opacity: 0; }
  41% {
    opacity: 0; }
  42% {
    opacity: 1; }
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }

@keyframes scaleUp {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

.btn-banner {
  display: inline-block;
  background: #fb5259;
  padding: 25px 45px;
  font-size: 22px;
  font-weight: 700;
  border-radius: 6px;
  color: white;
  text-transform: uppercase;
  border: none;
  text-align: center;
  transition: 0.3s; }
  @media screen and (max-width: 400px) {
    .btn-banner {
      font-size: 18px; } }
  .btn-banner:hover {
    background: #cc4046;
    cursor: pointer; }

.benefits {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .benefits {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column; } }
  .benefits .benefit .fa-check {
    color: #84c873;
    font-size: 1.5rem;
    margin-right: 1rem; }

.timer {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  animation: fadeIn .3s .3s backwards; }
  .timer .fas {
    font-size: 33px;
    color: #fb5259; }
    .timer .fas.fa-caret-right {
      animation: timerTriangleR .3s .5s backwards; }
    .timer .fas.fa-caret-left {
      animation: timerTriangleL .3s .5s backwards; }
  .timer .time-icon {
    display: inline-block; }
  .timer .time {
    display: inline-block;
    width: 58px;
    text-align: center;
    padding: 0 10px; }
  .timer .time-val {
    font-size: 29px;
    font-weight: 700; }
  .timer .time-title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px; }

@keyframes timerTriangleL {
  0% {
    opacity: 0;
    transform: translateX(-20px); }
  90% {
    opacity: 1;
    transform: translateX(5px); }
  100% {
    transform: translateX(0px); } }

@keyframes timerTriangleR {
  0% {
    opacity: 0;
    transform: translateX(20px); }
  90% {
    opacity: 1;
    transform: translateX(-5px); }
  100% {
    transform: translateX(0px); } }

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(40px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes scaleUp {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
