// MOBILE MAX
$mobile-max: 426px;

// TABLET MAX
$tablet-max: 768px;

//////////////////////////////////////////////
// HEADER

// Nav Background
$nav-bg: #6747c7;
//

// Nav Color
$nav-color: #ffffff;
//

//////////////////////////////////////////////