// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.landing-section{
    

    &__left-side{
        margin-top: 6.625rem;
   
    }
    &__right-side{
         position: relative;
        margin-top: 2.5rem;
    }

    &__main-title{
        font-size: 2.625rem;
        line-height: 2.875rem;
        color: $mainWhite;
        font-weight: 700;
    }
    &__save{
        margin-right: auto;
         width: 33%;
        margin-left: auto;
        text-align: center;
    }
    &__save-banner{
       color: $mainWhite; 
       font-weight: 700;
       font-size: 1.25rem;
       background-color: $salePink;
        padding: 10px 1.875rem;
       text-transform: uppercase;
       


    }
    &__rectangular{
        margin-right: auto;
        margin-left: auto;
        transform: rotate(45deg);
        width: 1.25rem;
        height: 1.25rem;
        margin-top: -10px;
        background-color: $salePink;  
    }

    &__currency{
        font-size: 9rem;
        font-weight: 700;
        line-height: 12.875rem;
        display: inline-block;
        color: $mainWhite;
    }
    &__number{
        font-size: 27rem;
        font-weight: 700;
        line-height: 21.625rem;
        display: inline-block;
        color: $mainWhite;

    }
    &__price-block{
        text-align: center;
    }

    &__price-holder{
        display: inline-block;
        color: $mainWhite;
    }
    &__cents-holder{
        font-size: 7.1875rem;
        font-weight: 700;
        line-height: 10.3125rem;
    }
    &__unit-holder{
        font-size: 4.5rem;
        line-height: 6.4375rem;
        font-weight: 600;
    }
    &__footer{
        padding-top: 5.875rem;
        padding-bottom: 14px;
    
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        li{
            float: left;
            color: $mainWhite;
            

            &:not(:last-child){
                margin-right: 1.875rem;
            }
        }
    }
}