// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.landing-section{
    
    &__clearfix{
        content: "";
    clear: both;
    display: table;
    }
    &__left-side{
        margin-top: 6.625rem;
        float: none;
        text-align: center;
        @include respond(tab-port){
                float: left;
        }
   
    }
    &__right-side{
        float: none;
        margin-top: 40px;

      @include respond(tab-port){
        float: right;   
      }
        
    }
    &__main-title{
        font-size: 2.625rem;
        line-height: 2.875rem;
        color: $mainWhite;
        font-weight: 700;
    }
    &__save{
        margin-right: auto;
        width: 55%;
        margin-left: auto;

        @include respond(phone){
            width: 33%;
        }
    }
    &__save-banner{
       color: $mainWhite; 
       font-weight: 700;
       font-size: 1.25rem;
       background-color: $salePink;
       padding: 10px 30px;
       text-transform: uppercase;
       text-align: center;

       @include respond(phone){
           padding: 10px 1.875rem;
       }
    }
    &__rectangular{
        position: relative;
        transform: rotate(45deg);
        width: 1.25rem;
        height: 1.25rem;
        margin-top: -10px;
        background-color: $salePink;
        display: none;   
    }
    &__price-block{
        text-align: center;
        display:block;

    }
    &__currency{
        font-size: 4rem;
        font-weight: 700;
        line-height: 12.875rem;
        display: inline-block;
        color: $mainWhite;
        position: relative;
        bottom: 3.25rem;

        @include respond(phone){
            font-size: 6rem;
            bottom: 11.25rem;
        }
        @include respond(tab-port){
            font-size: 9rem;
        }
    }
    &__number{
        
        font-size: 10rem;
        font-weight: 700;
        line-height: 21.625rem;
        display: inline-block;
        color: $mainWhite;

        @include respond(phone){
            font-size: 23rem;
        }
        @include respond(tab-port){
            font-size: 27rem;
        }
    }

    &__price-holder{
        display: inline-block;
        color: $mainWhite;
    }
    &__cents-holder{
        position: relative;
        top: 4.3125rem;
        font-size: 4.185rem;
        font-weight: 700;
        line-height: 10.3125rem;

        @include respond(phone){
            font-size: 7.1875rem;
            top: -1.6875rem;
        }
        @include respond(tap-port){
            top: 5.3125rem;
        }
        @include respond(tab-land){
            top: -5.6875rem;
        }

    }
    &__unit-holder{
        position: relative;
        top: 0.125rem;
        font-size: 4.5rem;
        line-height: 6.4375rem;
        font-weight: 600;

        @include respond(phone){
            top: -1.875rem;
        }
        @include respond(tap-port){
            top: 3.125rem;
        }
    }
    &__footer{
        padding-top: 5.875rem;
        padding-bottom: 14px;
        content: "";
        clear: both;
        display: table;
    
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
        li{
            float: left;
            color: $mainWhite;
            
            &:not(:last-child){
                margin-right: 5px; 
                
                @include respond(tab-port){  
                margin-right: 50px;        
                }
            }
        }
    }
}