<div class="content-block">
    <div class="counter-block">
        <h1 class="counter-block__heading">New Year Offer </br><span>82% OFF</span> Web Hosting</h1>
        <!-- Time Counter component -->
        <%include src="../content/time-counter/time-counter.html"%>
        <!-- Button -->
        <%include src="../content/start-button/start-button.html"%>
    </div>
    <div class="price-block">
        <div class="price-block__discount">
            <div class="price-block__discount-baloon">
                SAVE 82%
            </div>
            <div class="price-block__triangle"></div>
        </div>
        <div class="price-block__cost">
            <div class="price-block__dollar">$</div>
            <div class="price-block__number">1</div>
            <div class="price-block__aside">
                <div class="price-block__cents">45</div>
                <div class="price-block__month">/mo</div>
            </div>
        </div>
    </div>
</div>