:global {
  body {
    font-family: $font-family__body;
    color: $color__text-body;
  }

  h1 {
    font-size: $font-size__h1;
    margin: 0;
    margin-top: 5rem;
  }

  .highlight {
    color: $color__red;
  }

  .countdown__text-words {
    text-transform: uppercase;
    font-size: $font-size__countdown-text;
  }

  #button__getstarted {
    text-transform: uppercase;
    background-color: $color__red;
    color: $color__white;
  }

  .countdown__text-numbers {
    font-size: $font-size__countdown-numbers;
  }

  .countdown__icons i {
    color: $color__light-red;
    font-size: $font-size__countdown-numbers;
  }

  header a {
    font-size: $font-size__header;
  }

  footer a i {
    color: $color__tick;
  }
}
