@import "assets/styles/base.scss";


.background{
    background-image:
            linear-gradient(
                    rgba(0, 0, 0, 0.4),
                    rgba(0, 0, 0, 0.4)),
            url("assets/background.jpg");
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: scaleX(-1);
}