@import '../variables';




.offer-timer{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  max-width: 350px;

  .arrow-right{
    margin: auto;
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid $color-dark-pink
  }

  .timer{
    display: flex;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    color: $color-white;
    font-weight: 800;
    font-size: 20px;

    .time{
      margin-left: 5px;
      margin-right: 5px;
      .count{
        text-align: center;
      }
    }
  }

  .arrow-left{
    margin: auto;
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid $color-dark-pink;
  }

}


