@import '../variables';

.timer{
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
  color: $color-white;
  font-weight: 800;
  font-size: 25px;
}

.count{
  text-align: center;
}
.offer-timer{
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  margin-bottom: 30px;
}
.arrow-right{
  margin: auto;
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid $color-dark-pink
}

.arrow-left{
  margin: auto;
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid $color-dark-pink;
}