<header class="toolbar">
  
  <nav class="container">
    <div class="toolbar__toggle-button">
        <app-burger-button></app-burger-button>
      </div>
      
      <div class="toolbar__logo">
    
      <a href="#" class="toolbar__logo-brand"
        ><img [src]="HostingerLogo" alt="Hostinger Logo"
      /></a>
    </div>

    <div class="toolbar__navigation-items">
      <ul>
        <li><a href="#">Web Hosting</a></li>
        <li>
          <a href="#"><span>on sale</span>Cloud Hosting</a>
        </li>
        <li><a href="#">Vps Hosting</a></li>
        <li><a href="#">Domain Checker</a></li>
        <li><a href="#">Website Builder</a></li>
      </ul>
    </div>
  </nav>
</header>
