.btn {
  width: 360px;
  height: 80px;
  border: none;
  border-radius: 7px;
  background-color: #f95259;
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  &:hover {
   background: #d5464d;
  }
  &:active {
    transform: translateY(1px);
  }
  &:focus {
    outline: 0
  }
}

@media (max-width: 900px) {
  .btn {
    width: 330px;
    height: 70px;
    font-size: 20px;
  }
}


@media (max-width: 770px) {
  .btn {
    margin: 30px calc((100% - 330px)/2);
  }
  @media only screen and (orientation: landscape) {
    .btn {
      margin: 10px calc((100% - 240px)/2);
      width: 250px;
      height: 60px;
      font-size: 20px;
    }
  }
}

@media (max-width: 450px) {
  .btn {
    width: 280px;
    height: 60px;
    margin: 30px calc((100% - 280px)/2);
    font-size: 18px;
  }
  @media only screen and (orientation: landscape) {
    .btn {
      margin: 10px calc((100% - 140px)/2);
      width: 150px;
      height: 30px;
      font-size: 12px;
    }
  }
}