.time_holder{
    display: flex;
    justify-content: center;
    box-align: center;
    flex-direction: column;
    min-width: 4em;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    .text{
        font-size: 0.7em;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
    }
    .value{
        font-size: 1.87em;
        margin: 20px;
        margin-bottom: 0px;
        font-weight: 700;
        
    }
}