// HEADER
.Header {
  position: absolute;
  top: 0;

  .navbar {
    padding: 1rem 1rem;

    .Logo {
      background: url(../images/logo.svg) center center no-repeat;
      background-size: cover;
      height: 28px;
      width: 138px;
    }

    .nav-item {
      cursor: pointer;
    }

    .cloud::before {
      content: "ON SALE";
      color: #ffe400;
      position: absolute;
      top: 0.9rem;
      font-size: 0.7rem;
    }
  }
}

//MAIN
.Main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    margin-left: 1.5rem;

    h1 {
      line-height: 4rem
    }

    span {
      color: #fc5055;
    }

    .countdown {
      display: flex;
      align-items: center;
      width: 500px;
      justify-content: flex-start;
      padding: 0 0 1.5rem 0;
      margin-bottom: 1.5rem;

      .arrowLeft {
        content: url(../images/iconfinder-icon.svg);
        transform: rotate(-90deg);
        border-top-color: #fc5055;
        position: relative;
        top: 0.6rem;
        left: -0.5rem
      }

      .arrowRight {
        content: url(../images/iconfinder-icon.svg);
        transform: rotate(90deg);
        border-top-color: #fc5055;
        position: relative;
        top: 0.6rem;
        left: 0.5rem
      }

      .timer {
        width: 65%;
        display: flex;
        justify-content: space-around;

        span {
          position: relative;
          font-size: 2rem;
          font-weight: 500;
          color: white;
        }

        .days::before {
          content: "DAYS";
          position: absolute;
          top: 2.5rem;
          left: 0.4rem;
          font-size: 0.9rem;
        }

        .hours::before {
          content: "HOURS";
          position: absolute;
          top: 2.5rem;
          left: -1rem;
          font-size: 0.9rem;
        }

        .mins::before {
          content: "MINUTES";
          position: absolute;
          top: 2.5rem;
          left: -1rem;
          font-size: 0.9rem;
        }

        .secs::before {
          content: "SECONDS";
          position: absolute;
          top: 2.5rem;
          left: -1rem;
          font-size: 0.9rem;
        }
      }
    }

    .btn {
      background-color: #fc5055;
      color: white;
      width: 19rem;
      height: 4rem;
      font-size: 1.5rem;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

  .right {
    position: relative;
    margin-right: 2rem;
    font-weight: 700;

    .popover {
      position: absolute;
      top: -3rem;
      left: 7rem;

      p {
        margin: auto;
        font-size: 1.2rem;
        font-weight: 600;
        background-color: #fd9c9c;
        text-align: center;
        padding: 1rem 1.5rem;
        width: 170px;
      }

      .arrow {
        width: 0;
        height: 0;
        border-left: .9rem solid transparent;
        border-right: .9rem solid transparent;
        border-top: 1rem solid #fd9c9c;
        left: 4rem;
      }
    }

    .one {
      right: 3rem;
      position: relative;
      font-size: 25rem;
      width: 400px;
      text-align: center;
      line-height: 20rem;

    }

    .sign {
      position: absolute;
      font-size: 9rem;
      left: -1rem;
      top: 1rem;
    }

    .number {
      position: absolute;
      font-size: 8rem;
      top: 0;
      right: -0.5rem;
    }

    .month {
      position: absolute;
      font-size: 5rem;
      bottom: 0;
      right: -0.5rem;
    }
  }
}

//FOOTER
.Footer {
  width: 100%;
  position: absolute;
  bottom: 0;

  .nav-item {
    padding: 0 1rem;

    .nav-link::before {
      content: url(../images/checkmark.svg);
      padding-right: 0.3rem;
      position: relative;
      top: 0.2rem
    }
  }
}

@media only screen and (max-width: 991px) {
  .Main {
    min-height: 700px;
  }

  .left {
    max-width: 50%;
  }

  .right {
    max-width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .Main {
    flex-direction: column;
    min-height: 500px;
    align-items: center;
    justify-content: center;

    .left {
      max-width: 100%;
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        text-align: center;
        line-height: 2rem;
        font-size: 1.5rem;
      }
      .countdown {
        width: 400px;
        justify-content: space-between;

        .timer {
          span {
            font-size: 1.5rem;
          }
        }
      }

    }

    .right {
      display: none;
    }
  }
}

