/* 
vars
*/
$black: #010000;
$white: #ffffff;
$lightGrey: #e6e6e6;
$darkGrey: #333;
$red: #FC5156;
$green: #7EC377;

/*
mixins
*/

@mixin translateY($e) {
  -webkit-transform: translateY($e);
  -moz-transform:translateY($e);
  transform:translateY($e);
}

@mixin transition($e) {
  -webkit-transition:$e;
  -moz-transition:$e;
  transition:$e;
}

/* 
Fonts - 
*/

body{
  background:$darkGrey;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  font-size:10px;
  color: $black;
  font-weight:500;
  font-style:normal;
  @media(max-width:900) {
    font-size:7px!important;
  }
}
a {
  text-decoration:none;
  cursor:pointer;
}
