@import "_config.scss";
@import "_header.scss";
@import "_banner.scss";

.hostinger {
  background-image: url(../background.jpg);
  background-size: cover;
  background-position:center center;
  background-repeat: no-repeat;
  height:100vh;
  @media(max-width:1024px){
    height:100%;
  }

}
.container {
  width: auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 200px;
  margin-left: 200px;
  @media(max-width:900px) {
    margin-right: 100px;
    margin-left: 100px;
  }
  @media(max-width:600px) {
    margin-right: 10px;
    margin-left: 10px;
  }
}
