
.mobile-menu-opened {
  display: none;
}

.mobile-menu-closed {
  display: none;
}

@media (max-width: 950px) {
  .mobile-menu-opened {
    display: block;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    padding: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    &__close-icon {
      text-align: right;
      cursor: pointer;
      font-size: 3rem;
    }
    &__menu {
      display: block;
      margin-left: 20%;
    }
    &__logo {
      float: left;
      line-height: 5rem;
    }
  }
  .mobile-menu-closed {
    display: block;
    height: 8rem;
    background: transparent;
    &__logo {
      display: inline-block;
      vertical-align: middle;
      float: left;
      padding: 2.5rem 0;
    }
    &__image {
      height: 3rem;
      line-height: 8rem;
      vertical-align: middle;
    }
    &__burger {
      height: 3rem;
      line-height: 8rem;
      float: right;
      display: inline-block;
      padding: 2.5rem 0;
    }
  }
}





