$font: "Open-Sans", sans-serif;

//colors
$white: #ffffff;
$yellow: #ffdf31;
$red: #f65253;
$light-red: #fb9d9e;
$purple: #6747c7;

// breakpoints

$tablet: 1200px;
$mobile: 992px;
$mobile-md: 768px;
$mobile-sm: 576px;
$mobile-xs: 350px;