@import "../../../node_modules/bootstrap-4-grid/scss/grid";
@import "fonts";
@import "variables";
@import "mixins";
*{
  margin: 0;
  padding: 0;
}
.col-md-6{
  width: 49%;
  display: inline-block;
}
ul{
  padding-left: 0;
  li{
    list-style: none;
    display: inline-block;
  }
}