@font-face {
  font-family: "Open-sans";
  font-style: normal;
  font-weight: 500;
  src: url('../public/assets/fonts/open-sans-v16-latin-regular.eot');
  src: url('../public/assets/fonts/open-sans-v16-latin-regular.woff') format('woff');
}