footer {
    padding: 0 10px;

    .footer-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        letter-spacing: 0.7px;
        padding-left: 12px;

        &__pros {
            color: $main-text;
            font-size: 1.2em;
            margin: 0;
            text-align: center;
        }

        .fa-check {
            color: $checked-arrow;
            margin: 10px;
            font-size: 1em;
        }
    }
}

@media screen and (max-width: 800px) {
    .footer-block__pros {
        display: flex;
        flex-direction: column;
    }
}