

// Colors
$mainWhite: #FFFFFF;
$mainHover: #B4B2C0;
$mainRed:   #fc5155;
$hoverRed:  #FB1F24;
$salePink:  #fd9c9e;
$mainGreen: #8CC27C;
$mainOrange:  #ffe400;
$primaryNavbar: #5033A8;

// FONT


// GRID


//   Font-Size 


//  Line-Height 

