
.section-hero {
    height: 46.25rem;
    background: #4d2f92 center no-repeat;
    background-size: cover;
    display: block;
  &__wrapper{
    padding-top: 11rem;
    width: 100%;
    .clearfix:after{
      content: '';
      display: table;
      clear: both;
    }
  }
  &__side-container {
    width: 50%;
    &--left {
      float: left;
      vertical-align: bottom;
    }
    &--right {
      float: right;
    }
  }
}

@media (max-width: 950px) {
  .section-hero {
    &__wrapper {
      padding-top: 7rem;
    }
  }
}

@media (max-width: 770px) {
  .section-hero {
    height: 70rem;
    &__wrapper {
      padding-top: 9rem;
    }
    &__side-container {
      display: block;
      width: 100%;
    }
  }
}
