
.section-hero {
  &__main {
    display: block;
    padding-top: 130px;
    height: 450px;
  }
  &__side-container {
    width: 50%;
    &--left {
      float: left;
    }
    &--right {
      float: right;
    }
  }

  &--home-page {
    height: 700px;
    background-color: #4d2f92;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 900px) {
  @media only screen and (orientation: landscape) {
    body {
      .section-hero {
        &__main {
          display: block;
          padding-top: 30px;
          height: 200px;
        }
        &--home-page {
          height: 100vh;
        }
      }
    }
  }
}

@media (max-width: 770px) {
  .section-hero {
    &__main {
      height: calc(100vh - 130px);
      padding-top: 50px;
    }
    &__side-container {
      width: 100%;
      height: calc((100vh - 130px) / 2);
    }
    &--home-page {
      height: 100vh;
    }
  }
  @media only screen and (orientation: landscape) {
    body {
      .section-hero {
        &__main {
          display: block;
          padding-top: 20px;
        }
        &__side-container {
          width: 50%;
          &--left {
            float: left;
          }
          &--right {
            float: right;
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .section-hero {
    &__main {
      padding-top: 50px;
    }
  }
  @media only screen and (orientation: landscape) {
    .section-hero {
      &__main {
        padding-top: 10px;
      }
      &__side-container {
        &--right {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 350px) {
  .section-hero {
    &__main {
      padding-top: 20px;
    }
  }
}

@media (max-width: 300px) {
  .section-hero {
    &__main {
      padding-top: 10px;
    }
    &__side-container {
      &--right {
        display: none;
      }
    }
  }
}










