
.section-hero {
  &--home-page {
    height: 46.25rem;
    background: #4d2f92 center no-repeat;
    background-size: cover;
  }
  &__main {
    display: block;
  }
  &__wrapper{
    margin-top: 6rem;
    width: 100%;
    .clearfix:after{
      content: '';
      display: table;
      clear: both;
    }
  }
  &__side-container {
    width: 50%;
    &--left {
      float: left;
      vertical-align: bottom;
    }
    &--right {
      float: right;
    }
  }
}

@media (max-width: 950px) {
  .section-hero {
    &__wrapper {
      margin-top: 2rem;
    }
  }
}

@media (max-width: 770px) {
  .section-hero {
    &__wrapper {
      margin-top: 4rem;
    }
    &--home-page {
      height: 70rem;
    }
    &__side-container {
      display: block;
      width: 100%;
    }
  }
}
