.xmd{
    font-size: 2em;
}
.md{
    font-size: 2em;
    span{
        color: #ff4546;
    }
}
.big{
    color: #fff;
    font-size: 5em;
    span{
        color: #ff4546;
    }
}
.xxsm{
    font-size: 2em;
    // line-height: 1.5em;
}