$onSaleCol: #ffe400;
$voilet_color: #2a2e54;

$tablet: 770px;

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

.wraper {
  max-width: 1100px;
  margin: 0 auto;
}

.navbar {
  background-color: transparent;
  box-shadow: none;
  display: flex;
  @include tablet {
    background: #6747c7;
  }

  .flex1 {
    flex: 1;
  }

  .mobileMenu {
    display: none !important;

    @include tablet {
      display: block !important;
      font-weight: 600;
      font-size: 1.5rem;
    }
  }

  .nav-listItem-Wraper {
    @include tablet {
      display: none !important;
    }
  }

  .togle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 55px;
    width: 60px;
    margin-left: 1rem;
    background: #5435b0;
    border: 1px solid #957fd5 !important;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    display: none;
    @include tablet {
      display: flex !important;
    }

    &:focus {
      outline: none;
    }

    .hamburger {
      width: 26px;
      height: 32px;
    }
  }

  @include tablet {
    // background-color: #6747c7;
    // height: 100px;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    @include tablet {
      display: flex;
      // justify-content: flex-start;
      // flex-direction: column;
      // padding-right: 32rem;
      // background-color: #5033a8;
    }

    li {
      a {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 0.8rem;

        @include tablet {
          font-size: 10px;
        }
      }
    }
  }
}

// MOBILE

.nav-mobile {
  box-shadow: none;
  background: #5435b0;
  height: 100vh;
  display: none;
  @include tablet {
    display: block;
  }

  .mobile-ul {
    display: flex;
    flex-direction: column;

    li a {
      margin-top: 2rem;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.2rem;
    }
  }
}

.onSaleSpanMobile {
  color: $onSaleCol !important;
  font-size: 0.7rem;
}

.brand-log {
  float: left;
  padding-left: 15px;

  .logo {
    max-width: 110px;

    @include tablet {
      max-width: 140px;
    }
  }
}
.onSaleSpan {
  color: $onSaleCol !important;
  font-size: 0.7rem;
  position: absolute;
  top: -13px;
}
