@import './promotion_countdown';
@import './promotion_price';
@import './offer';

.promotion {
  color: $color--white;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  @include mq($from: tablet) {
    padding-top: 50px;
  }

  .content-left {
    @include mq($from: ipad) {
      display: inline-block;
      padding-top: 50px;
    }
    @include mq($from: desktop) {
      margin-right: 100px
    }
  }

  .content-right {
    @include mq($from: ipad) {
      display: inline-block;
      vertical-align: top;
    }
  }

  &-btn {
    background-color: $color--red;
    margin: 0 auto;
    @include mq($from: ipad) {
      margin: 0;
    }
  }
}