/** Main navigation component **/
.nav-main {
  $menuTransition: transform 0.2s ease-out;

  display: flex;
  align-items: center;
  padding: 1.2em 0;
  width: 100%;

  @media screen and (max-width: map-get($breakpoints,"medium")) {
    background: $hostinger-primary;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    margin-right: auto;

    @media screen and (max-width: map-get($breakpoints,"medium")) {
      flex: 0 0 100%;
    }
  }

  &__toggle {
    display: none;
    margin-left: auto;
    border: none;
    background: transparent;

    > span {
      display: block;
      width: 2rem;
      height: 0.3rem;
      margin: 0.4rem;
      border-radius: 0.1rem;
      background: white;
    }

    @media screen and (max-width: map-get($breakpoints,"medium")) {
      display: block;
    }
  }

  &__links {
    @media screen and (max-width: map-get($breakpoints,"medium")) {
      background: $hostinger-primary;
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      transition: $menuTransition;
      height: 100vh;

      &:not(.is-active) {
        transform: translateX(-100%);

        > .nav-main__link {
          transform: translateX(-150%);
        }
      }
    }
  }

  &__link {
    display: inline-block;
    position: relative;
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 2em;
    color: $text-light;
    white-space: nowrap;
    @include link-transition;

    @media screen and (max-width: map-get($breakpoints,"medium")) {
      display: block;
      margin: 3rem 2rem;
      width: 100%;
      transition: $menuTransition;
    }

    &:hover {
      color: darken($text-light, $hover-darken-amount);
    }
  }

  &__badge {
    color: #ffe400;
    position: absolute;
    bottom: 1.5em;
    font-size: 1rem;
    left: 0;
  }
}
