$sticker-primary-color: #fd9c9c;
$white-color: #fff;
.sticker{
    background-color: $sticker-primary-color;
    font-size: calc(14px + (26 - 20) * ((100vw - 300px) / (1600 - 300)));
    position: absolute;
    padding: 13px 30px;
    display: inline-block;
    top: 80px;
    left: -150px;
    z-index: 2;
    p{
        color: $white-color;
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }
    .arrow {
        background-color: $sticker-primary-color;
        position: absolute;
        width: 30px;
        height: 30px;
        bottom: -15px;
        left: 65px;
        z-index: 1;
        transform: rotateZ(-45deg);
    }

}
@media screen and (max-width: 1024px) {
    .sticker{
        top: 0px;
    }
}