.clock {
  display: block;
  width: 90%;


  .arrow {
    display: inline-block;
    width: 5%;
    div {
      width: 0;
      height: 0;
      margin: 0;
      padding: 0;
      border-style: solid;
      border-width: 10px 0 10px 15px;
      border-color: transparent transparent transparent #f9525a;
      margin-top: calc(50% + 5px);
    }
  }
  .arrow:last-child {
    div {
      float: right;
      transform: rotateY(180deg);

    }
  }
  .time {
    display: inline-block;
    width: 22.5%;

    .value {
      padding-bottom: 5px;
      font-size: 24px;
      text-align: center;
    }
    .unit {
      padding-bottom: 10px;
      font-size: 10px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0px;
    }

  }
}