.container__background {
  background-image: url("../../../assets/background.jpg");
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 100%;

  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

.container__darken {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;

  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

.container__content {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  max-width: 1200px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto minmax(600px, auto) auto;
}

.component_header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
  align-self: start;
  margin-top: 10px;
}

.component_offer {
  grid-column: 1;
  grid-row: 2;
  align-self: center;
  justify-self: center;
}

.component_price {
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  justify-self: center;
}

.component_footer {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 3;
  align-self: end;
  margin-bottom: 10px;
}

@media only screen and (min-width: 1400px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1400px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 12px;

    .container__content {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .component_header {
      grid-column: 1;
      grid-row: 1;
    }

    .component_offer {
      grid-column: 1;
      grid-row: 2;
    }

    .component_price {
      margin-top: 50px;
      grid-column: 1;
      grid-row: 3;
    }
    .component_footer {
      grid-column: 1;
      grid-row: 4;
    }
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }

  .container__content_body {
    font-size: 8px;
  }
}
