.footer{
    padding-top: 5.875rem;
    padding-bottom: 14px;
    content: "";
    clear: both;
    display: table;
    
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    li{
        float: left;
        color: $mainWhite;
        
        &:not(:last-child){
            margin-right: 5px; 
            
            @include respond(tab-port){  
               margin-right: 50px;        
            }
        }
    }
}
