// Main containers styles
.main-div
  width: 100%
  max-width: 1100px
  margin: 0 auto

.main-container
  display: flex
  margin: 90px 0

//Left container

.left-container-heading
  h1
    margin: 0
    color: $white
  span
    color: $red

.left-container-div
  width: 50%
  padding-top: 55px

span#count-down-to-offer-end
  color: $white
  font-size: 42px

//Right container

.right-container-div
  width: 50%
  position: relative

.discount-box-div
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.discount-box-text
  padding: 8px 30px
  background: $pale-red
  font-size: 20px
  font-weight: 700
  text-transform: uppercase
  color: $white

.discount-box-triangle
  width: 20px
  height: 20px
  margin-top: -10px
  background: $pale-red
  transform: rotate(45deg)

.price-div
  width: fit-content
  width: -moz-fit-content
  width: -ms-fit-content
  display: flex
  align-items: center
  margin: 0 auto
  font-weight: 800
  line-height: 0.8
  color: white

.pricing-currency
  margin-top: -100px
  font-size: 10vw

.pricing-big-number
  font-size: 35vw

.pricing-cents
  font-size: 8vw
  font-weight: 700

.pricing-date
  font-size: 8vw
  font-weight: 600
