.desktop-menu .navigation {
  float: right;
  &__item-container {
    position: relative;
    display: inline-block;
  }
  &__promo-message {
    position: absolute;
    top: -1rem;
    left: 2rem;
    font-size: 0.75em;
    font-weight: 700;
    color: #f7d949;
    text-transform: uppercase;
    cursor: pointer;
  }
  &__item {
    font-size: 1.05rem;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    padding-left: 1.85rem;
    &:hover{
      color: $host-pink;
    }
  }
}

.mobile-menu-opened .navigation {
  &__item-container {
    position: relative;
    line-height: 6rem;
  }
  &__promo-message {
    position: absolute;
    top: -40%;
    left: 0;
    font-size: 1.8rem;
    font-weight: 700;
    color: #f7d949;
    text-transform: uppercase;
    cursor: pointer;
  }
  &__item {
    display: block;
    line-height: 6rem;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    &:hover{
      color: $host-pink;
    }
  }
  @media only screen and (orientation: landscape) {
    &__item-container {
      line-height: 4rem;
    }
    &__promo-message {
      font-size: 1.5rem;
    }
    &__item {
      line-height: 4rem;
      font-size: 2rem;
    }
  }
}





