
    .side-drawer {
        height: 100vh;
        background: #4a39a2;
        margin-right: auto;
        margin-left: auto;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in;
        z-index: 1;
    }
    
    .side-drawer.open {
        transform: translateY(0);
        top: 10vh;
    }
    
    .side-drawer ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
    }

    .badge-mobile {
        position: relative;
        color: #ffe400;
        font-size: 0.75rem;
        font-weight: 600;
    }
    
    .side-drawer li {
        margin: 1rem 0;
        color: #fff;
    } 
    
    .side-drawer a {
        color: #fff;
        text-decoration: none;
        font-weight: 600;
    }
    
    .side-drawer a:hover,
    .side-drawer a:active {
        opacity: .6;
    }
