@import '../../../../_styles/colors';

.nav {

  max-width: 1100px;
  margin: 0 auto;
  z-index: 1;

  #empty {
    flex: 3;
  }

  a {
    position: relative;
    display: block;
    padding: 10px 0 10px 25px;
    color: $white !important;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;

    &:hover{
      color: $light_purple !important;
      transition: all .3s ease-in-out;
    }
  }

  .badge {
    position: absolute;
    top: -2px;
    color: $yellow;
    font-size: 10px;
    font-weight: 600;
    padding-left: 0;
  }
}
