<!--The content below is only a placeholder and can be replaced.-->
<div id="container">
  <img id="logo" src="assets/logo.png">
  <div id="navbar">
    <ul>
      <li>
        <a href="#">WEB HOSTING</a>
      </li>
      <li>
        <a href="#">CLOUD HOSTING</a>
      </li>
      <li>
        <a href="#">VPS HOSTING</a>
      </li>
      <li>
        <a href="#">DOMAIN CHECKER</a>
      </li>
      <li>
        <a href="#">WEBSITE BUILDER</a>
      </li>
    </ul>
  </div>
  <div id="offer">
    <h1>New Year Offer</h1>
    <h2><a>82% OFF</a> Web Hosting</h2>
    <ul>
      <li id="days">00<span>DAYS</span></li>
      <li id="hours">16<span>HOURS</span></li>
      <li id="minutes">18<span>MINUTES</span></li>
      <li id="seconds">29<span>SECONDS</span></li>
    </ul>
  </div>
  <div id="offer2">
    <p id="doller">$</p>
    <p id="money">1</p>
    <p id="cents">45</p>
    <p id="month">/mo</p>
  </div>
  <div id="footer">
    <ul>
      <li><img src="https://cdn.pixabay.com/photo/2012/04/24/13/49/tick-40143_960_720.png">Guaranteed 99.9% Uptime</li>
      <li><img src="https://cdn.pixabay.com/photo/2012/04/24/13/49/tick-40143_960_720.png">Superior Speed Performance</li>
      <li><img src="https://cdn.pixabay.com/photo/2012/04/24/13/49/tick-40143_960_720.png">24/7 Support Chat</li>
      <li><img src="https://cdn.pixabay.com/photo/2012/04/24/13/49/tick-40143_960_720.png">30-Day Money-Back Guarantee</li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>