

.main-menu{
  &__desktop-menu{
    display: block;
  }
  &__mobile-menu{
    display: none;
  }
}


@media (max-width: 770px) {
  .main-menu{
    &__desktop-menu{
      display: none;
    }
    &__mobile-menu{
      display: block;
    }
  }
}

