

.main-menu{
  &__desktop-menu{
    display: block;
  }
  &__mobile-menu{
    display: none;
  }
}


@media (max-width: 770px) {
  .main-menu{
    &__desktop-menu{
      display: none;
    }
    &__mobile-menu{
      display: block;
    }
  }
  @media only screen and (orientation: landscape) {

  }
}



//
//.main-menu {
//  height: 80px;
//  background: transparent;
//  box-sizing: border-box;
//  &__logo {
//    float: left;
//    line-height: 80px;
//  }
//  &__image {
//    vertical-align: middle;
//    height: 30px;
//  }
//  &__navigation{
//
//  }
//  &__mobile-menu{
//    display: none;
//  }
//}
//
////Media Queries
//@media (max-width: 1350px) {
//}
//
//@media (max-width: 1070px) {
//  .main-menu {
//    &__image {
//      height: 25px;
//    }
//    &__promo-message {
//      font-size: 12px;
//    }
//    &__nav-item {
//      font-size: 14px;
//      letter-spacing: 1.3px;
//      padding-left: 15px;
//    }
//  }
//}
//
//@media (max-width: 900px) {
//  .main-menu {
//    &__image {
//      height: 22px;
//    }
//    &__promo-message {
//      font-size: 12px;
//    }
//    &__nav-item {
//      font-size: 12px;
//      letter-spacing: 1px;
//      padding-left: 10px;
//    }
//    &__promo-message {
//      top: -15px;
//      left: 10px;
//    }
//  }
//}
//
//@media (max-width: 750px) {
//  .main-menu {
//    &__image {
//      height: 22px;
//    }
//    &__nav-container {
//      display: none
//    }
//    &__mobile-menu {
//      display: inline-block;
//      height: 20px;
//      float: right;
//      margin-top: 30px;
//    }
//  }
//}


