* {
  box-sizing: border-box;
}

html {
  font-family: 'Open-sans';
  @include mq($from: ipad) {
    height: 100%;
  }
}

body {
  background-image: url('../public/assets/images/background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  position: relative;

  > div {
    height: 100%;
  } 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
