// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------



// Colors
$mainWhite: #FFFFFF;
$mainHover: #B4B2C0;
$mainRed:   #fc5155;
$hoverRed:  #FB1F24;
$salePink:  #fd9c9e;
$mainGreen: #8CC27C;
$mainOrange:  #ffe400;
$primaryNavbar: #5033A8;

// FONT


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//   Font-Size 


//  Line-Height 

