.button{
    border-radius: 6px;
    text-transform: uppercase;
    text-align: center;
    color: $mainWhite;
    padding: 20px 60px;
    background-color: $mainRed;
    max-width: 50%;
    
   
    &:hover{
        background-color: $hoverRed;
        transition: background-color 0.4s ease-out;
    }
}
a{
    text-decoration: none;
}