

.calendar-timer{
        max-width: 80%;
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    li{
        float: left;
        margin-top: 1.25rem;
        text-align: center;  
        padding-right: 2.5rem;
    }
    &__triangle-right{
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-left: 15px solid $mainRed;
        border-bottom: 10px solid transparent;
        margin-right: 10px;
        display: inline-block; 
        margin-top: 1rem;
        
    }
    &__triangle-left{
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-right: 15px solid $mainRed;
        border-bottom: 10px solid transparent;
        display: inline-block;
    }
    &__holder{
       font-size: 1.75rem;
       font-weight: 700;
       line-height: 2.5rem;
       color: $mainWhite;
    }
    &__clock{
        font-size: 1.75rem;
        line-height: 2.5rem;
        font-weight: 700;
    }
    &__text{
        font-size: 12px;
        line-height: 1.0625rem;
        text-transform: uppercase;
    }
}


