
.desktop-menu {
  height: 5rem;
  background: transparent;
  box-sizing: border-box;
  &__logo {
    float: left;
    line-height: 5rem;
  }
  &__image {
    vertical-align: middle;
    height: 1.8rem;
  }
  &__navigation {
    float: right;
    vertical-align: middle;
    line-height: 5rem;
  }
}

@media (max-width: 950px) {
  .desktop-menu {
    display: none;
  }
}
