//Countdown clock styles

.left-container-countdown
  display: flex
  margin: 10px 0

.triangle-icon-left
  width: 0
  height: 0
  margin-right: 10px
  border-top: 10px solid transparent
  border-left: 15px solid $red
  border-bottom: 10px solid transparent

.triangle-icon-right
  width: 0
  height: 0
  margin-left: 10px
  border-top: 10px solid transparent
  border-right: 15px solid $red
  border-bottom: 10px solid transparent

.left-container-countdown
  display: flex
  align-items: center
  text-align: center
  color: white
  span
    font-size: 12px
    font-weight: 700
    text-transform: uppercase
  #days-to-offer-end, #hours-to-offer-end, #minutes-to-offer-end, #seconds-to-offer-end
    font-size: 28px

.countdown-div
  padding: 0 23px
