// Colors variables
$nav-text-color: #fff;
$nav-sale-color: #ffe400;
$heading-color: #fff;
$main-text: #fff;
$highlighted-text: #fc5155;
$button-color: #fc5155;
$checked-arrow: #7cc576;
$sale-balloon: #fd9c9e;
$hostinger-main: #6747c7;