/*RESOLUTIONS*/
$minMenuWidth: 1240px;
$maxMenuWidth: 1241px;
$minWidth: 700px;
$maxWidth: 701px;
/*LENGTHS*/
$speechBubbleBorderSize: 0.6em;
$footerHeight: 8rem;
$footerHeightDesktop: 2.5rem;
/*COLORS*/
$red: #ff4546;
$lightred: #ff0f0f;
$blue: #6747c7;
$fadeblue: rgba(50, 35, 182, 0.5);
$shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
$semiwhite: rgba(255, 255, 255, 0.9);
$yellow: #ffc800;
$semiyellow: rgba(255, 208, 0, 0.5);
$green: #78b13f;
$bgcolor: #6747c7;
/*PATHS*/
$assets: "../../../styles/assets/";
