// global colors
$white: #ffffff;
$black: #000000;
$main-red: #ee545b;
$main-red-hover: #e9262f;
$light-red: #f59a9e;
$grey: #cccccc;
$yellow: #ffe400;
$mobile-text-color: #43414f;
$mobile-text-hover-color: #393741;
