@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import './colors.scss';
@import './parts/header/header.scss';
@import './parts/header/screens/large-screen.scss';
@import './parts/header/screens/medium-screen.scss';
@import './parts/header/screens/small-screen.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
}
