@import "assets/styles/variables";
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body, html {
    font-family: 'H', 'Open Sans', Helvetica, sans-serif;
}