@checked-green: #7cc478;
@grey-hover: #dbdbdb;
@main-white: #ffffff;
@sale-red: #fb9d9b;
@sale-yellow: #f5dc77;
@theme-red: #f95259;
@theme-red-hover: #fb1f24;

@theme-font-family: 'Open Sans', sans-serif;

@screen_xxl: 1100px;
@screen_xl: 900px;
@screen_l: 844px;
@screen_m: 730px;
@screen_s: 616px;
@screen_xs: 490px;