<div class="counter">
    <div class="counter__triangle"></div>
    <div class="counter__clock">
        <div class="counter__time">
            <div class="counter__time-digits counter__time-days"></div>
            <div class="counter__time-name">DAYS</div>
        </div>
        <div class="counter__time">
            <div class="counter__time-digits counter__time-hours"></div>
            <div class="counter__time-name">HOURS</div>
        </div>
        <div class="counter__time">
            <div class="counter__time-digits counter__time-min"></div>
            <div class="counter__time-name">MINUTES</div>
        </div>
        <div class="counter__time">
            <div class="counter__time-digits counter__time-sec"></div>
            <div class="counter__time-name">SECONDS</div>
        </div>
    </div>
    <div class="counter__triangle-reverse"></div>
</div>