@import './nav.scss';
@import './promotion.scss';
@import './benefits.scss';
@import './laptop.scss';
@import './tablet.scss';
@import './mobile.scss';

.header {
  height: auto;
  background: url('../../src/assets/background.jpg') no-repeat center center fixed;
  background-color: rgba( $black, .3);
  background-blend-mode: color;
  background-size: cover;
}

.header-container {
  width: 70%;
  margin: auto;
  padding: 0 1.5em;
}
