.offer {
  width: 50%;
  padding: 4em 0;

  &__title {
    color: $white;
    text-transform: capitalize;
    font-size: 3.8em;
    line-height: 1.5em;

    &--red {
      color: $red-text;
      text-transform: uppercase;
    }
  }

  &__countdown {
    margin: 1em 0 3.5em 0;
    font-size: 2em;
    display: flex;
    color: $white;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
    justify-content: space-between;
    width: 90%;

    .offer__arrow--left {
      width: 0;
      height: 0;
      border-top: 0.6em solid transparent;
      border-left: 0.8em solid $red-text;
      border-bottom: 0.6em solid transparent;
    }

    .offer__arrow--right {
      width: 0;
      height: 0;
      border-top: 0.6em solid transparent;
      border-right: 0.8em solid $red-text;
      border-bottom: 0.6em solid transparent;
    }
  }

  &__text {
    font-size: .5em;
  }

  &__button {
    color: $white;
    background: $red-btn;
    font-size: 1.7em;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.1em 3em;
    border-radius: 0.2em;

    &:hover {
      background: salmon;
    }
  }
}
