.price {
  width: 50%;
  display: flex;

  &__currency {
    color: $white;
    font-size: 12em;
    font-weight: 700;
    padding-top: 1em;
  }

  &__dollar {
    color: $white;
    font-size: 35em;
    font-weight: 700;
  }

  &__cents {
    color: $white;
    font-size: 10em;
    font-weight: 700;
    padding-top: 1em;
  }

  &__period {
    color: $white;
    font-size: 6em;
    font-weight: 600;
    padding-top: 0.8em;
    padding-left: .2em;
  }
}

.right-wrapper, .left-wrapper {
  display: inline-block;
}

.left-wrapper {
  white-space: nowrap;
  display: flex;
}
